Repository openstack-archive/sahara-dashboard: changes, and which Zuul jobs are due for each by the changed paths.
All: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

.zuul.yaml:

- project:
    templates:
      - check-requirements
      - openstack-lower-constraints-jobs
      - openstack-python-jobs-horizon
      - openstack-python35-jobs-horizon
      - openstack-python36-jobs-horizon
      - openstack-python37-jobs-horizon
      - release-notes-jobs-python3
    check:
      jobs:
        - sahara-dashboard-tox-python3-django111
    experimental:
      jobs:
        - sahara-dashboard-integration

- job:
    name: sahara-dashboard-tox-base
    parent: openstack-tox
    required-projects:
      - openstack/sahara-dashboard
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^sahara_dashboard/locale/.*$

- job:
    name: sahara-dashboard-tox-python3-django111
    parent: sahara-dashboard-tox-base
    vars:
      tox_envlist: py3-dj111

- job:
    name: sahara-dashboard-integration
    parent: devstack
    required-projects:
      - openstack/heat
      - openstack/horizon
      - openstack/sahara
      - openstack/sahara-plugin-ambari
      - openstack/sahara-plugin-cdh
      - openstack/sahara-plugin-mapr
      - openstack/sahara-plugin-spark
      - openstack/sahara-plugin-storm
      - openstack/sahara-plugin-vanilla
      - openstack/sahara-dashboard
    roles:
      - zuul: openstack/horizon
    vars:
      devstack_plugins:
        sahara: 'git://git.openstack.org/openstack/sahara'
        sahara-dashboard: 'git://git.openstack.org/openstack/sahara-dashboard'
        heat: 'git://git.openstack.org/openstack/heat'
      devstack_services:
        horizon: true
        tls-proxy: false
    pre-run: playbooks/sahara-dashboard-integration/pre.yaml
    run: playbooks/sahara-dashboard-integration/run.yaml
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$

[ussuri][goal] Drop python 2.7 support and testing
  .zuul.yaml
  doc/requirements.txt
  releasenotes/notes/drop-py-2-7-0812be5ce1752d7c.yaml
  setup.cfg
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Imported Translations from Zanata
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
  sahara_dashboard/locale/ko_KR/LC_MESSAGES/django.po
Due: sahara-dashboard-integration

Imported Translations from Zanata
  sahara_dashboard/locale/en_GB/LC_MESSAGES/django.po
Due: sahara-dashboard-integration

Fix (lower) requirements (sync with horizon constraints)
  doc/requirements.txt
  lower-constraints.txt
  requirements.txt
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

translation: drop babel extractor definitions
  babel-django.cfg
  babel-djangojs.cfg
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Drop Django 1.11 support
  lower-constraints.txt
  requirements.txt
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Remove six usage
  sahara_dashboard/content/data_processing/data_plugins/tests.py
  sahara_dashboard/content/data_processing/data_plugins/workflows/update.py
  sahara_dashboard/content/data_processing/jobs/data_sources/tests.py
  sahara_dashboard/content/data_processing/jobs/data_sources/workflows/edit.py
  sahara_dashboard/content/data_processing/jobs/job_binaries/forms.py
  sahara_dashboard/content/data_processing/jobs/job_binaries/tests.py
  sahara_dashboard/content/data_processing/utils/helpers.py
  sahara_dashboard/content/data_processing/utils/workflow_helpers.py
  sahara_dashboard/utils.py
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Fix gate.
  lower-constraints.txt
  requirements.txt
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update hacking for Python3
  lower-constraints.txt
  sahara_dashboard/content/data_processing/clusters/clusters/workflows/create.py
  sahara_dashboard/content/data_processing/jobs/job_templates/workflows/launch.py
  sahara_dashboard/test/settings.py
  test-requirements.txt
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Fix pyScss version in lower-constraints.txt
  lower-constraints.txt
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Imported Translations from Zanata
  sahara_dashboard/locale/ru/LC_MESSAGES/django.po
  sahara_dashboard/locale/ru/LC_MESSAGES/djangojs.po
  sahara_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  sahara_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
Due: sahara-dashboard-integration

Imported Translations from Zanata
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  sahara_dashboard/locale/ru/LC_MESSAGES/django.po
  sahara_dashboard/locale/ru/LC_MESSAGES/djangojs.po
Due: sahara-dashboard-integration

Test fixes: unittest.mock, better l-c job, pytest dep
  .zuul.yaml
  lower-constraints.txt
  sahara_dashboard/content/data_processing/clusters/nodegroup_templates/tests.py
  sahara_dashboard/content/data_processing/data_plugins/tests.py
  sahara_dashboard/content/data_processing/jobs/data_sources/tests.py
  sahara_dashboard/content/data_processing/jobs/job_binaries/tests.py
  sahara_dashboard/content/data_processing/jobs/job_templates/tests.py
  sahara_dashboard/test/helpers.py
  test-requirements.txt
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Ussuri contributor docs community goal
  CONTRIBUTING.rst
Due: none

Update .gitreview for stable/ussuri
  .gitreview
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  .zuul.yaml
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Add py38 package metadata
  setup.cfg
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Bump default tox env from py37 to py38
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Cleanup py27 support
  doc/requirements.txt
  lower-constraints.txt
  requirements.txt
  setup.cfg
  setup.py
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Imported Translations from Zanata
  sahara_dashboard/locale/ko_KR/LC_MESSAGES/django.po
Due: sahara-dashboard-integration

Fix hacking min version to 3.0.1
  test-requirements.txt
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  releasenotes/source/conf.py
Due: none

Stop to use the __future__ module.
  sahara_dashboard/api/manila.py
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

[goal] Migrate testing to ubuntu focal
  bindep.txt
  lower-constraints.txt
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update .gitreview for stable/victoria
  .gitreview
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  .zuul.yaml
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

fix the unicode problem
  releasenotes/source/conf.py
Due: none
