Repository openstack-archive/sahara-dashboard: changes, and which Zuul jobs are due for each by the changed paths.
All: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

sahara-dashboard-tox-base:
  parent: openstack-tox
  required-projects:
  - openstack/sahara-dashboard

sahara-dashboard-tox-python3-django111:
  parent: sahara-dashboard-tox-base
  vars:
    tox_envlist: py3-dj111

sahara-dashboard-integration:
  parent: devstack
  required-projects:
  - openstack/heat
  - openstack/horizon
  - openstack/sahara
  - openstack/sahara-plugin-ambari
  - openstack/sahara-plugin-cdh
  - openstack/sahara-plugin-mapr
  - openstack/sahara-plugin-spark
  - openstack/sahara-plugin-storm
  - openstack/sahara-plugin-vanilla
  ...

Bump python-saharaclient lower bound to 2.2.0
  lower-constraints.txt
  requirements.txt
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update .gitreview for stable/stein
  .gitreview
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update UPPER_CONSTRAINTS_FILE for stable/stein
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update master for stable/stein
  releasenotes/source/index.rst
  releasenotes/source/stein.rst
Due: none

Replace openstack.org git:// URLs with https://
  README.rst
Due: none

Replace openstack.org git:// URLs with https://
  .zuul.yaml
  README.rst
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Dropping the py35 testing
  .zuul.yaml
  setup.cfg
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

OpenDev Migration Patch
  .gitreview
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Replace git.openstack.org URLs with opendev.org URLs
  README.rst
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Imported Translations from Zanata
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
  sahara_dashboard/locale/cs/LC_MESSAGES/django.po
  sahara_dashboard/locale/de/LC_MESSAGES/django.po
  sahara_dashboard/locale/en_GB/LC_MESSAGES/django.po
  sahara_dashboard/locale/fr/LC_MESSAGES/django.po
  sahara_dashboard/locale/id/LC_MESSAGES/django.po
  sahara_dashboard/locale/ja/LC_MESSAGES/django.po
  sahara_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  sahara_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  sahara_dashboard/locale/ru/LC_MESSAGES/django.po
  sahara_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  sahara_dashboard/locale/zh_CN/LC_MESSAGES/django.po
Due: sahara-dashboard-integration

Imported Translations from Zanata
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  sahara_dashboard/locale/cs/LC_MESSAGES/django.po
  sahara_dashboard/locale/de/LC_MESSAGES/django.po
  sahara_dashboard/locale/en_GB/LC_MESSAGES/django.po
  sahara_dashboard/locale/fr/LC_MESSAGES/django.po
  sahara_dashboard/locale/id/LC_MESSAGES/django.po
  sahara_dashboard/locale/ja/LC_MESSAGES/django.po
  sahara_dashboard/locale/ko_KR/LC_MESSAGES/django.po
  sahara_dashboard/locale/pt_BR/LC_MESSAGES/django.po
  sahara_dashboard/locale/ru/LC_MESSAGES/django.po
  sahara_dashboard/locale/tr_TR/LC_MESSAGES/django.po
  sahara_dashboard/locale/zh_CN/LC_MESSAGES/django.po
Due: sahara-dashboard-integration

Use openstack-python3-train-jobs for python3 test runtime
  .zuul.yaml
  setup.cfg
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update sphinx dependency
  doc/requirements.txt
Due: none

Bump the openstackdocstheme extension to 1.20
  doc/requirements.txt
  releasenotes/source/conf.py
Due: none

Bring now-deleted Horizon utils in-tree
  sahara_dashboard/content/data_processing/clusters/nodegroup_templates/workflows/create.py
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Use the proper Python3 Train jobs
  .zuul.yaml
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Limit envlist to py37 for Python 3 Train goal
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Imported Translations from Zanata
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  sahara_dashboard/locale/id/LC_MESSAGES/django.po
Due: sahara-dashboard-integration

Imported Translations from Zanata
  sahara_dashboard/locale/de/LC_MESSAGES/django.po
Due: sahara-dashboard-integration

Fix filter() usage for Py 3
  sahara_dashboard/content/data_processing/clusters/cluster_templates/workflows/copy.py
  sahara_dashboard/content/data_processing/clusters/clusters/workflows/update.py
  sahara_dashboard/content/data_processing/clusters/nodegroup_templates/workflows/copy.py
  sahara_dashboard/content/data_processing/utils/workflow_helpers.py
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update the constraints url
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update .gitreview for stable/train
  .gitreview
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update TOX/UPPER_CONSTRAINTS_FILE for stable/train
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update master for stable/train
  releasenotes/source/index.rst
  releasenotes/source/train.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
Due: none

Switch to official Ussuri jobs
  .zuul.yaml
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Use Horizon project template for django jobs
  .zuul.yaml
  sahara_dashboard/content/data_processing/clusters/nodegroup_templates/tests.py
  sahara_dashboard/content/data_processing/clusters/nodegroup_templates/workflows/create.py
  sahara_dashboard/test/test_data/sahara_data.py
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

fix invaild urls in CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  sahara_dashboard/locale/en_GB/LC_MESSAGES/django.po
Due: sahara-dashboard-integration

Path conditions:
  sahara-dashboard-tox-base: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^sahara_dashboard/locale/.*$
  sahara-dashboard-tox-python3-django111: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^sahara_dashboard/locale/.*$
  sahara-dashboard-integration: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
