Repository openstack-archive/sahara-dashboard: changes, and which Zuul jobs are due for each by the changed paths.
All: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

.zuul.yaml:

- project:
    templates:
      - check-requirements
      - openstack-lower-constraints-jobs
      - openstack-python-jobs-horizon
      - openstack-python35-jobs-horizon
      - openstack-python36-jobs-horizon
      - openstack-python37-jobs-horizon
      - release-notes-jobs-python3
    check:
      jobs:
        - sahara-dashboard-tox-python3-django111
    experimental:
      jobs:
        - sahara-dashboard-integration

- job:
    name: sahara-dashboard-tox-base
    parent: openstack-tox
    required-projects:
      - openstack/sahara-dashboard
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^sahara_dashboard/locale/.*$

- job:
    name: sahara-dashboard-tox-python3-django111
    parent: sahara-dashboard-tox-base
    vars:
      tox_envlist: py3-dj111

- job:
    name: sahara-dashboard-integration
    parent: devstack
    required-projects:
      - openstack/heat
      - openstack/horizon
      - openstack/sahara
      - openstack/sahara-plugin-ambari
      - openstack/sahara-plugin-cdh
      - openstack/sahara-plugin-mapr
      - openstack/sahara-plugin-spark
      - openstack/sahara-plugin-storm
      - openstack/sahara-plugin-vanilla
      - openstack/sahara-dashboard
    roles:
      - zuul: openstack/horizon
    vars:
      devstack_plugins:
        sahara: 'git://git.openstack.org/openstack/sahara'
        sahara-dashboard: 'git://git.openstack.org/openstack/sahara-dashboard'
        heat: 'git://git.openstack.org/openstack/heat'
      devstack_services:
        horizon: true
        tls-proxy: false
    pre-run: playbooks/sahara-dashboard-integration/pre.yaml
    run: playbooks/sahara-dashboard-integration/run.yaml
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$

Remove error links
  README.rst
Due: none

Fix lower-constraints job
  lower-constraints.txt
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Imported Translations from Zanata
  sahara_dashboard/locale/zh_Hans/LC_MESSAGES/django.po
  sahara_dashboard/locale/zh_Hans/LC_MESSAGES/djangojs.po
Due: sahara-dashboard-integration

Update .gitreview for stable/wallaby
  .gitreview
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update TOX_CONSTRAINTS_FILE for stable/wallaby
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update master for stable/wallaby
  releasenotes/source/index.rst
  releasenotes/source/wallaby.rst
Due: none

Add Python3 xena unit tests
  .zuul.yaml
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update .gitreview for stable/xena
  .gitreview
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update TOX_CONSTRAINTS_FILE for stable/xena
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update master for stable/xena
  releasenotes/source/index.rst
  releasenotes/source/xena.rst
Due: none

Add Python3 yoga unit tests
  .zuul.yaml
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Bump decorator version in lower-constraints.txt
  lower-constraints.txt
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Imported Translations from Zanata
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
  sahara_dashboard/locale/zh_CN/LC_MESSAGES/django.po
  sahara_dashboard/locale/zh_CN/LC_MESSAGES/djangojs.po
Due: sahara-dashboard-integration

Imported Translations from Zanata
  releasenotes/source/locale/de/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ko_KR/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/zh_CN/LC_MESSAGES/releasenotes.po
Due: none

Pass configured endpoint type to sahara client
  sahara_dashboard/api/sahara.py
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update python testing classifier
  setup.cfg
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update .gitreview for stable/yoga
  .gitreview
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update TOX_CONSTRAINTS_FILE for stable/yoga
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update master for stable/yoga
  releasenotes/source/index.rst
  releasenotes/source/yoga.rst
Due: none

Add Python3 zed unit tests
  .zuul.yaml
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Address RemovedInDjango40Warning
  sahara_dashboard/content/data_processing/clusters/urls.py
  sahara_dashboard/content/data_processing/data_plugins/urls.py
  sahara_dashboard/content/data_processing/jobs/urls.py
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update python testing as per zed cycle testing runtime
  .zuul.yaml
  releasenotes/notes/drop-python-3-6-and-3-7-a6d76484c658a01b.yaml
  setup.cfg
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Drop lower-constraints.txt and its testing
  .zuul.yaml
  lower-constraints.txt
  requirements.txt
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update .gitreview for stable/zed
  .gitreview
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

Switch to 2023.1 Python3 unit tests and generic template name
  .zuul.yaml
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Remove python-dev from bindep
  bindep.txt
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Django 4.x: Address RemovedInDjango40Warning
  sahara_dashboard/content/data_processing/clusters/nodegroup_templates/workflows/create.py
  sahara_dashboard/content/data_processing/clusters/wizard/forms.py
  sahara_dashboard/content/data_processing/jobs/job_binaries/forms.py
  sahara_dashboard/content/data_processing/jobs/jobs/tables.py
  sahara_dashboard/content/data_processing/jobs/wizard/forms.py
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration

Adjust tox.ini for tox4
  tox.ini
Due: sahara-dashboard-tox-base, sahara-dashboard-tox-python3-django111, sahara-dashboard-integration
